amqp==1.4.9
bs4==0.0.1
celery==3.1.26.post2
dj-database-url==0.4.2
Django==2.0.5
django-celery==3.2.2
django-location-field==2.0.3
djangorestframework==3.11.2
gunicorn==19.7.1
numpy==1.14.2
pandas==0.22.0
psycopg2==2.7.3.1
pycurl==7.43.0
pytz==2018.4
PyYAML==3.12
requests==2.18.4
slugify==0.0.1
urllib3==1.22
whitenoise==3.3.0
